<!-- ================================================== -->
<!-- ♦ Navbar Template -->
<!-- ================================================== -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#{{ homePageName }}">
		<img  ng-src="{{ brand }}" alt="{{ title }}" title="{{ description }}" class="mb-1" style="width:150px;">
	</a>	  	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu">
		<i class="fas fa-bars"></i>
	</button>
	<div id="navbar-menu" class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto">
			<li ng-repeat="page in pages" class="nav-item">
				<a href="#{{ page.name }}" title="{{ page.description }}" class="nav-link" ng-class="isCurrentPage(page) ? 'active' : ''">
					<i ng-class="page.icon"></i> {{ page.title }}
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ml-auto">
			<!-- <li ng-repeat="action in actions" class="nav-item">
				<a href="#{{ action.name }}" title="{{ action.description }}" class="nav-link" ng-class="isCurrentPage(action) ? 'active' : ''">
					<i ng-class="action.icon"></i> {{ action.title }}
				</a>
			</li> -->
			<li ng-hide="currentUser" class="nav-item">
				<a href="#{{ loginAction.name }}" title="{{ loginAction.description }}" class="nav-link" ng-class="isCurrentPage(loginAction) ? 'active' : ''">
					<i ng-class="loginAction.icon"></i> {{ loginAction.title }}
				</a>
			</li>
			<li ng-show="currentUser" class="nav-item">
				<a href="" class="nav-link" tooltip="{{ currentUser.email }}">
					<i class="fas fa-user-circle"></i> {{ currentUser.name }}
				</a>
			</li>
			<li ng-show="currentUser" class="nav-item">
				<a ng-click="logout()" href="" class="nav-link" title="Log out">
					<i class="fas fa-sign-out-alt"></i> Log out
				</a>
			</li>
		</ul>
	</div>
</nav>