<div class="mb-3" ng-controller="sidebarCtrl">
	<h5>
		<i class="fas fa-user"></i> PROFILE
	</h5>
	<hr>
	<div class="bg-light rounded border p-3">
		<div>
			<h4 class="text-center text-primary p-1">Ambratolm</h4>
			<h5 class="text-center">⋰`*•.¸,∻♛∻,¸.•*´⋱</h5>
			<img class="img-fluid img-thumbnail rounded-circle mx-auto d-block mb-3" width="50%" src="assets/images/avatar.jpg">
			<ul id="profile-links" class="nav nav-pills flex-column">
		 		<li class="nav-item border bg-white">
					<a class="nav-link" target="_blank" href="mailto:ambratolm@gmail.com">
						<i class="fas fa-envelope"></i> Gmail
					</a>
				</li>
				<li class="nav-item border bg-white">
					<a class="nav-link" target="_blank" href="https://www.facebook.com/ambratolm3">
						<i class="fab fa-facebook"></i> Facebook
					</a>
				</li>
				<li class="nav-item border bg-white">
					<a class="nav-link" target="_blank" href="https://discord.gg/Cj7EDxb">
						<i class="fab fa-discord"></i> Discord
					</a>
				</li>
				<li class="nav-item border bg-white">
					<a class="nav-link" target="_blank" href="skype:ambratolm?userinfo">
						<i class="fab fa-skype"></i> Skype
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>