/*--------------------------------------------------
♦ Entry Card
--------------------------------------------------*/
.entry-card:hover {
	box-shadow: 0px 0px 20px silver;
	border: 1px solid silver;
	transition: box-shadow 0.5s;
}